{% extends 'base-no-side-widget.html' %}
{% load static %}

{% block title %}
    Post Research
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/select2.min.css" %}">
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Post Research</h5>
            <hr>
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Publication Type</label>
                    <select class="form-control" name="publish_type" id="publish_type">
                        <option value="" selected>Select your publication type</option>
                        {% for pub_type in publication_types %}
                            <option value="{{ pub_type.pk }}">{{ pub_type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title">
                </div>
                <div class="form-group">
                    <label for="short_description">Short Description</label>
                    <textarea class="form-control" id="short_description" name="short_description" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="abstract">Abstract</label>
                    <textarea class="form-control" id="abstract" name="abstract" rows="6"></textarea>
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="authors" name="authors" placeholder="Enter Author">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    {{ form.content }}
                </div>
                <div class="form-group">
                    <label for="file">Upload File</label>
                    <input type="file" class="form-control-file" id="file" name="file">
                </div>
                <input name="created_by" value="{{ user.pk }}" hidden>
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/select2.min.js' %}"></script>

    <script>
        tinyMCE.init({
          selector: "#id_content"
        });

        $('.js-data-example-ajax').select2({
          ajax: {
            url: 'https://api.github.com/search/repositories',
            dataType: 'json'
            // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
          }
        });
    </script>
{% endblock %}