<!-- Search Widget -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Search</h5>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-sm btn-primary" type="button">Go!</button>
              </span>
        </div>
    </div>
</div>

<!-- Colleges Widget -->
<div class="card my-4">
    <div class="card-body">
        <h5 class="card-title">Colleges</h5>
        <div class="row ml-2 mr-2">
            <ul class="list-unstyled mb-0">
                {% for college in colleges %}
                <li>
                    <a href="#">{{ college.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Department Widget -->
<div class="card my-4">
    <div class="card-body">
        <h5 class="card-title">Department</h5>
        <div class="row ml-2 mr-2">
            <ul class="list-unstyled mb-0">
                {% for department in departments %}
                <li>
                    <a href="#">{{ department.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Side Widget -->
<div class="card my-4">
    <div class="card-body">
        <h5 class="card-title">Side Widget</h5>
        You can put anything you want inside of these side widgets. They are easy to use, and feature the
        new Bootstrap 4 card containers!
    </div>
</div>